#x-axis{
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
}
#buttonBox{
   width: 100%;
   font-size: 2em;
}
#timescale{
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
#timebox{
   width: 100%;
   font-size: 2em;
}
.chooseAxis{
   border-radius: 8px;
}
.bttn{
   border-radius: 8px;
}
.chosen{
   background-color: blue;
   color: white;
}
#endBox{
   float: right;
}
.changeStart{
   border-radius: 8px;
   background-color: blue;
   color: white;
}
#redraw{
   border-radius: 8px;
   background-color: blue;
   color: white;
}

